/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333 !important;
  width: 100vw;
}

body > #root {
  /* color: #fff; */
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  /* display: table; */
  /* width: 100%; */
  /* vertical-align: center; */
}

/* body > #root {
  /* width: 100vw; */
/* position: relative; */
/* left: 50%; */
/* right: 50%; */
/* margin-left: -50vw; */
/* margin-right: -50vw; */

.jumbotron {
  padding: 2rem 1rem !important;
}

.cover-container {
  /* margin-top: 100vh; */
  max-width: 45em;
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* display: -ms-flexbox;
  display: -webkit-box;
  display: flex; */
  /* -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center; */
}

/*
 * Cover
 */
/* .cover {
  padding: 0 1.5rem;
} */
/* .cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
} */

/*
 * Footer
 */
footer {
  color: rgba(255, 255, 255, 0.5);
}

/* Background */
.bg {
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg"); */
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
  max-width: 100% !important;
  display: inline-flex;
}
